.preloader{
  width: 100vw;
  height: calc((100vh) - (5.3rem));
  color: $quaternary-color;
  font-size: 2.8rem;
  font-weight: bold;
  background-color: $secondary-color-orig;
  transition: background-color 1s linear;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 6rem;
  width: 6rem;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: $primary-color;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -0.9rem;
}

.circle:nth-child(2) {
  background-color: $quaternary-color;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

.activate{
  display: flex;
}

.deactivate{
  display: none;
}

.fadeoutbcg{
  background-color: transparent;
}