$primary-color: #004E71;
$primary-color-diluted: #004d7127;
$secondary-color-orig: #CAF7FF;
$secondary-color: rgba(202, 247, 255, 0.47);
$trinary-color: #507D95;
$quartery-color-diluted: #ec6f4c8c;
$quartery-color: #EC6E4C;

