$primary-color: #004d71;
$primary-color-transparent: #004d7122;
$secondary-color-orig: #CAF7FF;
$secondary-color: rgba(202, 247, 255, 0.47);
$tertiary-color: #507D95;
$quaternary-color: #EC6E4C;
$preloader-color: #d9f9ff;

