@import "./resets";
@import "./variables";
@import "./loader";
@import "./day_grid";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body{
  font-size: 1.6rem;
  background-color: $secondary-color;
  color: $tertiary-color;
}
.content-wrapper{
  @include flex(column, center, center);
}
::placeholder{
  color: #cbcbcb;
}
input{
  border-radius: 1rem;
  padding: 0 1rem;
  box-shadow: 0 0 15px 20px rgba(255, 255, 255, 0.4);
  color: $primary-color;
}
i{
  color: $tertiary-color;
}
.navbar{
  width: 100%;
  height: 5rem;
  background: $secondary-color;
  padding: 1rem 1.5rem;
  @include flex(row, space-between, center);
  box-shadow: 0 0 1rem $tertiary-color;
  z-index: 100;
}
#icon{
  background-color: $primary-color-transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px 11px $primary-color-transparent;
}
.icon{
  position: relative;
}
.icon::before{
  content: "";
  display: block;
  width: 5em;
  height: 5em;
  position: absolute;
  z-index: -5;
  top: -1em;
  left: -2em;
  background-color: $primary-color-transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px 11px $primary-color-transparent;
}
.icon::after{
  content: "";
  display: block;
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  z-index: -3;
  top: -2em;
  left: 0.5em;
  background-color: $primary-color-transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px 11px $primary-color-transparent;
}
.btn{
  background-color: Transparent;
}
.btn:hover{
  cursor: pointer;
  i{
    color: $quaternary-color;
  }
}

.weather-content{
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-areas: 
  'current'
  'detail-h'
  'detail'
  'forcast-h'
  'forcast';
  justify-content: center;
}
.current-weather{
  grid-area: current;
  overflow: hidden;
  @include flex(column, center, center);
}
.detailed{
  grid-area: detail-h;
}
.detailed-info{
  grid-area: detail;
}
.forcast{
  grid-area: forcast-h;
}
.daily-forcast{
  grid-area: forcast;
}
.date-time-place{
  padding: 3rem 0 1.5rem;
  @include flex(column, baseline, center);
  line-height: 1;

  #location{
    font-size: 2.2rem;
  }
  .btn{
    font-size: small;
  }
}
.weather-info{
  background-color: rgba(255, 255, 255, 0.45);
    border-radius: 25%;
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.4);
    width: fit-content;
  #desc{
    font-size: 2.6rem;
    text-align: center;
    color: $primary-color;
  }
  .main-temp{
    @include flex(row, center, center);
  
  .temperature{
    width:100px;
    height: 100px;
    padding: 10px;
    @include flex(column, center, flex-start);
  
    #temp{
      font-size: 4.6rem;
      line-height: 0.8;
      color: $primary-color;
    }
    #feels{
      font-size: 1.4rem;
    }
  }
} 
}
.h2{
  font-size: 1.8rem;
  font-weight: normal;
  color: $quaternary-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.074);
}
.detailed{
  padding-top: 2rem;
}
.detailed::before{
  content: "";
  display: block;
  background-color: $tertiary-color;
  width: 100%;
  height: 1px;
}

.detailed-info{
  padding-left: 1rem;
  line-height: 1.3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.074);
  display: grid;
  grid-template-areas: 
  'prec prec'
  'hum vis'
  'wind dew'
  'uv rise'
  'press set';
  #humidity{
    grid-area: hum;
  }
  #visibility{
    grid-area: vis;
  }
  #wind{
    grid-area: wind;
  }
  #dew{
    grid-area: dew;
  }
  #uv{
    grid-area: uv;
  }
  #pressure{
    grid-area: press;
  }
  #sunrise{
    grid-area: rise;
  }
  #sunset{
    grid-area: set;
  }
  #prec{
    grid-area: prec;
  }
}
.forcast{
  color: $primary-color;
  font-weight: bold;
  padding-top: 2.5rem ;
}
.forcast::before{
  content: "";
  display: block;
  background-color: $tertiary-color;
  width: 100%;
  height: 1px;
}
.daily-forcast{
  width:100%;
  display: flex;
  @include flex(row, center, flex-start);
  flex-flow: wrap;
}
.daily{
  max-width: 150px;
  width:15rem;
  height: 23rem;
  overflow: hidden;
  
}
footer{
  @include flex(row, center, center);
  padding: 2rem;
}

@media screen and (min-width: 410px){
  .weather-content{
    grid-auto-columns: 80%;
  }
  .current-weather{
    align-self: center;
  }
}

@media screen and (min-width: 600px){
  .weather-content{
    padding: 20px 50px;
    display: grid;
    grid-template-areas: 
    'current detail-h'
    'current detail'
    'forcast-h forcast-h'
    'forcast forcast';
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2.5rem;
  }
  .current-weather{
    grid-area: current;
    overflow: visible;
  }
  .detailed{
    grid-area: detail-h;
    align-self: center;
    font-size: 2rem;
  }
  .detailed-info{
    grid-area: detail;
    align-self: start;
    font-size: 1.8rem;
  }
  .forcast{
    grid-area: forcast-h;
    padding-top: 5rem;
  }
  .daily-forcast{
    grid-area: forcast;
  }
  .forcast{
    width: 80%;
    justify-self: center;
  }
  .daily{
    //max-width: 358px;
    width:100%;
  }
}
@media screen and (min-width: 816px){
  .weather-content{
    width: 80%;
  }
  .detailed-info{
    width: fit-content;
    column-gap: 5rem; 
  }
  .daily-forcast{
    @include flex(row, center, space-between);
    flex-wrap: wrap;
  }
  .daily{
    margin: 0.5rem;
  }
  .forcast{
    width: 100%;
  }
}